.bg-item {
    background-image: linear-gradient(to bottom right, rgba(39, 118, 74, 0.6), rgba(41, 116, 62, 0.2)), url('../../assets/images/banner/food2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
